<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3" style="width: 18rem;">
            <!-- Campground image -->
            <img src="<%=campground.image %>" class="card-img-top" alt="<%= campground.title %>">
            <div class="card-body">
                <!-- Campground title -->
                <h5 class="card-title"><%= campground.title %></h5>
                <!-- Campground description -->
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <!-- Campground location -->
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <!-- Campground price per night -->
                <li class="list-group-item">$<%= campground.price %>/night</li>
            </ul>
            <div class="card-body">
                <!-- Edit button -->
                <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <!-- Delete button -->
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
